/*-- scss:defaults --*/

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Create font variables
//$montseratt: "Montserrat", serif;
//$merriweather-sans: "Merriweather Sans", serif

// Colors
$sky: #0388A6;
$clouds: #f1fdffff;
$grass: #9CB8AE;
$seafoam:#E8FFFD;
$avocado: #75A744;
$hot-salmon: #F94B74;
$salmon: #FC90A9;
$ocean: #023859;
$river: #20566E;
$evergreen: #002E2C;
$corn: #F29B30;
$charcoal: #212121;
$otter: #426E6F;
$offwhite: #FBFFFF;


// Quarto Sass Variables
$body-bg: $seafoam;
$navbar-bg: $otter;
$navbar-fd: $sky;
$navbar-hl: $corn;

/*-- scss:rules --*/


body {
  color: $charcoal;
}

h1, h2, h3 {
  letter-spacing: 2px;
  font-weight: 500;
  color: $evergreen;
}

.title{
  color: $evergreen;
}

.center-text {
  text-align: center;
}

.avo-text{
  color: $avocado;
}

.sky-text{
  color: $sky;
}

.cloud-text{
  color: $clouds;
}

.cloud-text{
  color: $clouds;
}

.navbar-brand {
  max-height: 100px;
  width: auto;
}

a {
  color: $otter; 
}


a:hover {
  color: $sky; 
}

pre code {
  background-color: $clouds; /* Light gray background for code */
  color: $clouds; /* Dark gray text for code */
  padding: 10px; /* Add padding around the code */
  border-radius: 5px; /* Round corners */
}

.code-chunk-dropdown {
  background-color: $clouds; /* Light background for dropdown */
  color: $clouds; /* Text color for dropdown */
  border: 1px solid #ccc; /* Border around dropdown */
  padding: 5px;
  border-radius: 3px;
}

.code-chunk-dropdown:hover {
  background-color: #e0e0e0; /* Hover effect */
}

/* Change color for the blog title (usually h1 or h2) */
.blog-title {
  color: #2F4F4F; /* Set the color for the title */
  font-family: 'Georgia', sans-serif; /* Optional: change the font */
  font-weight: bold; /* Optional: make it bold */
}

/* Change color for the blog description (usually a paragraph) */
.blog-description {
  color: #808080; /* Set the color for the description */
  font-family: 'Georgia', serif; /* Optional: change the font */
  font-style: italic; /* Optional: make the description italic */
}
