/*-- scss:defaults --*/

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Create font variables
//$montseratt: "Montserrat", serif;
//$merriweather-sans: "Merriweather Sans", serif

// Colors
$sky: #3498db;
$clouds: #f1fdffff;
$grass: #9CB8AE;
$corn: #FFC745;
$avocado: #007A78;
$ocean: #063840;
$evergreen: #002E2C;


// Quarto Sass Variables
$body-bg: $clouds;
$navbar-bg: $ocean;
$navbar-fd: $sky;
$navbar-hl: $corn;

/*-- scss:rules --*/

h1, h2 {
  letter-spacing: 2px;
  font-weight: 500;
}


.title{
  color: $evergreen;
}

.center-text {
  text-align: center;
}

.avo-text{
  color: $avocado;
}

.sky-text{
  color: $sky;
}

.cloud-text{
  color: $clouds;
}

.cloud-text{
  color: $clouds;
}

.navbar-brand {
  max-height: 60px;
  width: auto;
}
